$background-white: #F7F7FA;
$text-color: white;
$text-color-hover: #754abe;
$theme-black: #181818;
$gray-text: #787885;
$font-small: 14px;
$font-medium: 25px;
$font-large: 35px;
$purple-shadow: rgba(117, 74, 190, 0.38);

.createEntity {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 30px;
}

.createEntity__label {
  display: flex;
  justify-content: start;
  margin: 0 0 10px 10px;
}

.createEntity__input {
  background: white;
  border: 2px solid white;
  border-bottom: 0.1em solid $theme-black;
  color: $theme-black;
}

.createEntity__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

.createEntity__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $theme-black;
  border: 2px solid $theme-black;
  border-radius: 5px;
  color: $text-color;
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
  transition: 0.5s;
  width: 25px;
}

.createEntity__button_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #754abe;
  border: 2px solid #754abe;
  box-shadow: 0 0 5px 4px $purple-shadow;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 20px;
  margin-left: 15px;
  transition: 0.5s;
  width: 25px;
}

.createEntity__icon {
  display: inherit;
}

.createEntity__displayNone {
  display: none;
}

.createEntity__imgUpload {
  display: flex;
}
