$text-color: white;
$text-color-hover: #754abe;
$theme-black: #181818;
$gray-text: #787885;
$font-small: 14px;
$font-medium: 25px;
$font-large: 35px;

.popup {
  display: flex;
  background: rgba(0, 0, 0, 0.62);
  height: calc(100vh - 90px);
  width: 100vw;
  margin-top: -165px;
  transition: 1s;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  background: #F7F7FA;
  margin: auto;
}

.popup__Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $theme-black;
  width: 180px;
  height: 42px;
  background: $theme-black;
  color: $text-color;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.4s;
}

.popup__Btn > span {
  font-size: 16px;
  transition: 0.2s;
}

.popup__Btn:hover > span {
  color: $text-color-hover;
}

.popup__Btn:active {
  opacity: 0.33;
  transition: 0.4s;
}
