$text-color: white;
$text-color-hover: #754abe;
$theme-black: #181818;
$gray-text: #787885;
$font-small: 14px;
$font-medium: 25px;
$font-large: 35px;

.popup {
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.62);
  height: 100vh;
  width: 100vw;
  margin-top: -90px;
  transition: 1s;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  background: #F7F7FA;
  margin: auto;
}

.createBrand {
  width: 60%;
  min-width: 400px;
}

.createBrand__title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.createBrand__item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.createBrand__btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.createBrand__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  background: $theme-black;
  color: $text-color;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.createBrand__btn > span {
  font-size: 14px;
  transition: 0.2s;
}

.createBrand__btn:hover {
  color: $text-color-hover;
  transition: 0.2s;
}

.createBrand__btn:hover > span {
  color: $text-color-hover;
  transition: 0.2s;
}
