$text-color: white;
$text-color-hover: #754abe;
$theme-black: #181818;
*{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.shop{
  height: calc(100vh - 90px);
}

.shop__body{
  height: 100%;
  display: flex;
}
.shop__typeBarWrapper{
  flex-grow: 2;
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop__goodsWrapper{
  width: 80%;
  background: rgba(49, 75, 215, 0);
  display: flex;
  flex-direction: column;
}

.shop__brandBarWrapper{
  background: rgba(74, 171, 93, 0);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;

}
