$text-color: white;
$text-color-hover: #754abe;
$theme-black: #181818;


.adminBar {
  width: 20%;
  min-width: 180px;
}

.adminBar__title {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.adminBar__wrapper  {
  background: #e4e4e7;
  margin: 10px 10px ;
  min-width: 130px;
  border-radius: 4px;
  padding: 10px 5px;
}

.admin__button {
  cursor: pointer;
  background: none;
  width: 115px;
  padding: 5px 10px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.3s;
}

.admin__button:hover {
  background: $theme-black;
  color: $text-color;
  transition: 0.3s;
}

.adminBar__btnGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
